/* ===========================
   GOOGLE FONT
=========================== */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=DM+Serif+Display&display=swap');

/* ===========================
   RESET
=========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:#F8F5EF;

    font-family:'Inter',sans-serif;

    color:#1d1d1d;
       margin:0;
      overflow-x:hidden;

}

/* ===========================
   DASHBOARD
=========================== */

.dashboard{

    display:flex;

    min-height:100vh;

}

/* ==========================
   FIXED SIDEBAR
========================== */

.sidebar{

    position: fixed;

    top: 0;

    left: 0;

    width: 280px;

    height: 100vh;

    background: #ffffff;

    border-right: 1px solid #ece7df;

    display: flex;

    flex-direction: column;

    justify-content: space-between;

    padding: 28px 22px;

    overflow-y: auto;

    z-index: 1000;

}

/* ===========================
   LOGO
=========================== */

.logo{

    display:flex;

    align-items:center;

    gap:12px;

    margin-bottom:-120px;

}

.logo img{

    width:42px;

    height:42px;

    object-fit:contain;

}

.logo h2{

   font-family:"Fraunces", serif;

    font-size:22px;

    font-weight:500px;

    color:#16361E;

}

/* ===========================
   MENU
=========================== */

.menu{

    list-style:none;
    

}

.menu li{

    display:flex;

    align-items:center;

    gap:16px;

    padding:16px 18px;

    margin-bottom:12px;

    border-radius:16px;

    cursor:pointer;

    transition:.35s;

    font-size:14px;

    font-weight:500;

}

.menu li a{

    display:flex;

    align-items:center;

    gap:16px;

    text-decoration:none;

    color:inherit;

    width:100%;

    height:100%;

}

.menu li.active{

    background:#2F5D39;

}

.menu li.active a{

    color:#fff;

}

.menu li.active i{

    color:#fff;

}

/* ===========================
   BOTTOM MENU
=========================== */

.bottom-menu{

    margin-top:80px;

}

.bottom-menu a{

    display:flex;

    align-items:center;

    gap:10px;

    text-decoration:none;

    color:#555;

    font-size:14px;

    font-weight:500;

}

.bottom-menu a i{

    font-size:20px;

}

.bottom-menu a:hover{

    color:#2F5D39;

}

/* ===========================
   main bars
=========================== */
.main-content{

    margin-left:280px;

    width:calc(100% - 280px);

    min-height:100vh;

}

/* ===========================
   TOPBAR
=========================== */

.topbar{

    position:sticky;

    top:0;

    z-index:999;

    background:#ffffff;

    height:86px;

    display:flex;

    align-items:center;

    justify-content:space-between;

    padding:0 38px;

    border-bottom:1px solid #ebe5dd;

}

.topbar h2{

    font-family:'DM Serif Display',serif;

    font-size:25px;

    font-weight:400;

}

/* ===========================
   RIGHT ICONS
=========================== */

.top-icons{

    display:flex;

    align-items:center;

    gap:22px;

}

.top-icons i{

    font-size:20px;

    cursor:pointer;

}

.profile{

    width:42px;

    height:42px;

    background:#355E3B;

    color:#fff;

    border-radius:50%;

    display:flex;

    align-items:center;

    justify-content:center;

    font-size:18px;

    font-weight:600;

}

/*=========================================
        PAGE HEADER
=========================================*/

.page-header{

    padding:35px 35px 20px;

}

.page-title h1{

      font-family:"Fraunces", serif;

    font-size:25;

    font-weight:500px;

    color:#1d1d1d;

    margin-bottom:6px;

}

.page-title p{

    font-size:16px;

    color:#6B6B6B;

}

/*=========================================
        MAIN CONTAINER
=========================================*/

.add-product-container{

    display:grid;

    grid-template-columns:460px 1fr;

    gap:28px;

    padding:0 25px 35px;

    align-items:start;

}

/*=========================================
        CARDS
=========================================*/

.image-card,
.details-card{

    background:#ffffff;

    border:1px solid #E8E2D9;

    border-radius:28px;

    padding:28px;

    box-shadow:0 10px 30px rgba(0,0,0,.04);

}

.image-card h2,
.details-card h2{

    font-size:20px;

    font-weight:600;

    margin-bottom:22px;

    color:#222;

}

/*=========================================
        IMAGE UPLOAD
=========================================*/

.upload-box{

    width:100%;

    height:520px;

    border:2px dashed #E3D7C9;

    border-radius:24px;

    background:#FBF6EE;

    display:flex;

    justify-content:center;

    align-items:center;

    position:relative;

    cursor:pointer;

    overflow:hidden;

    transition:.35s;

}

.upload-box:hover{

    border-color:#2F5D39;

    background:#F6F8F3;

}

.upload-content{

    text-align:center;

}

.upload-content i{

    font-size:25px;

    color:#7A6D61;

    margin-bottom:15px;

}

.upload-content h3{

    font-size:20px;

    font-weight:600;

    margin-bottom:8px;

}

.upload-content p{

    font-size:14px;

    color:#777;

}

#previewImage{

    position:absolute;

    width:100%;

    height:100%;

    object-fit:cover;

    display:none;

}
/*=========================================
        FORM
=========================================*/

#productForm{

    display:flex;

    flex-direction:column;

    gap:22px;

}

/*=========================================
        ROW
=========================================*/

.row{

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:18px;

}

/*=========================================
        FORM GROUP
=========================================*/

.form-group{

    display:flex;

    flex-direction:column;

}

.form-group label{

    font-size:15px;

    font-weight:500;

    color:#555;

    margin-bottom:10px;

}

/*=========================================
        INPUTS
=========================================*/

.form-group input,
.form-group select,
.form-group textarea{

    width:100%;

    border:1px solid #E3D7C9;

    border-radius:18px;

    background:#fff;

    padding:15px 18px;

    font-size:15px;

    font-family:"Fraunces", serif;

    color:#222;

    outline:none;

    transition:.3s;

}

.form-group input{

    height:56px;

}

.form-group select{

    height:56px;

    cursor:pointer;

}

.form-group textarea{

    resize:none;

    min-height:120px;

}

.form-group input::placeholder,
.form-group textarea::placeholder{

    color:#999;

}

/*=========================================
        FOCUS EFFECT
=========================================*/

.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus{

    border-color:#2F5D39;

    box-shadow:0 0 0 4px rgba(47,93,57,.10);

}

/*=========================================
        SAVE BUTTON
=========================================*/

.save-btn{

    width:100%;

    height:58px;

    border:none;

    border-radius:18px;

    background:#2F5D39;

    color:#fff;

    font-size:16px;

    font-weight:600;

    cursor:pointer;

    display:flex;

    align-items:center;

    justify-content:center;

    gap:10px;

    transition:.35s;

    margin-top:8px;

}

.save-btn i{

    font-size:18px;

}

.save-btn:hover{

    background:#23482C;

    transform:translateY(-2px);

    box-shadow:0 14px 28px rgba(47,93,57,.25);

}

.save-btn:active{

    transform:scale(.98);

}

/*=========================================
        RESPONSIVE
=========================================*/

@media(max-width:1100px){

.add-product-container{

grid-template-columns:1fr;

}

.image-card{

order:1;

}

.details-card{

order:2;

}

}

@media(max-width:768px){

.page-title h1{

font-size:25px;

}

.row{

grid-template-columns:1fr;

}

.image-card,
.details-card{

padding:22px;

}

.upload-box{

height:380px;

}

}