/* ===========================
   GOOGLE FONT
=========================== */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=DM+Serif+Display&display=swap');

/* ===========================
   RESET
=========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:#F8F5EF;

    font-family:'Inter',sans-serif;

    color:#1d1d1d;
       margin:0;
      overflow-x:hidden;

}

/* ===========================
   DASHBOARD
=========================== */

.dashboard{

    display:flex;

    min-height:100vh;

}

/* ==========================
   FIXED SIDEBAR
========================== */

.sidebar{

    position: fixed;

    top: 0;

    left: 0;

    width: 280px;

    height: 100vh;

    background: #ffffff;

    border-right: 1px solid #ece7df;

    display: flex;

    flex-direction: column;

    justify-content: space-between;

    padding: 28px 22px;

    overflow-y: auto;

    z-index: 1000;

}

/* ===========================
   LOGO
=========================== */

.logo{

    display:flex;

    align-items:center;

    gap:12px;

    margin-bottom:-120px;

}

.logo img{

    width:42px;

    height:42px;

    object-fit:contain;

}

.logo h2{

   font-family:"Fraunces", serif;

    font-size:22px;

    font-weight:500px;

    color:#16361E;

}

/* ===========================
   MENU
=========================== */

.menu{

    list-style:none;
    

}

.menu li{

    display:flex;

    align-items:center;

    gap:16px;

    padding:16px 18px;

    margin-bottom:12px;

    border-radius:16px;

    cursor:pointer;

    transition:.35s;

    font-size:14px;

    font-weight:500;

}

.menu li a{

    display:flex;

    align-items:center;

    gap:16px;

    text-decoration:none;

    color:inherit;

    width:100%;

    height:100%;

}

.menu li.active{

    background:#2F5D39;

}

.menu li.active a{

    color:#fff;

}

.menu li.active i{

    color:#fff;

}


/* ===========================
   BOTTOM MENU
=========================== */

.bottom-menu{

    margin-top:80px;

}

.bottom-menu a{

    display:flex;

    align-items:center;

    gap:10px;

    text-decoration:none;

    color:#555;

    font-size:14px;

    font-weight:500;

}

.bottom-menu a i{

    font-size:20px;

}

.bottom-menu a:hover{

    color:#2F5D39;

}

/* ===========================
   main bars
=========================== */
.main-content{

    margin-left:280px;

    width:calc(100% - 280px);

    min-height:100vh;

}

/* ===========================
   TOPBAR
=========================== */

.topbar{

    position:sticky;

    top:0;

    z-index:999;

    background:#ffffff;

    height:86px;

    display:flex;

    align-items:center;

    justify-content:space-between;

    padding:0 38px;

    border-bottom:1px solid #ebe5dd;

}

.topbar h2{

    font-family:'DM Serif Display',serif;

    font-size:25px;

    font-weight:400;

}

/* ===========================
   RIGHT ICONS
=========================== */

.top-icons{

    display:flex;

    align-items:center;

    gap:22px;

}

.top-icons i{

    font-size:20px;

    cursor:pointer;

}

.profile{

    width:42px;

    height:42px;

    background:#355E3B;

    color:#fff;

    border-radius:50%;

    display:flex;

    align-items:center;

    justify-content:center;

    font-size:18px;

    font-weight:600;

}

/*=========================================
        PAGE HEADER
=========================================*/

.page-header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:35px 35px 25px;

}

.page-header h1{

    font-family:"Fraunces", serif;

    font-size:25;

    font-weight:500px;

    color:#1d1d1d;

    margin-bottom:6px;

}

.page-header p{

    font-size:16px;

    color:#6f6f6f;

}

/*=========================================
        SALES REPORT BUTTON
=========================================*/

.report-btn{

    display:flex;

    align-items:center;

    gap:10px;

    background:#ffffff;

    border:1px solid #cda67d;

    color:#2a2a2a;

    padding:12px 24px;

    border-radius:30px;

    cursor:pointer;

    font-size:1px4;

    font-weight:500px;

    transition:.35s;

}

.report-btn i{

    font-size:14px;

}

.report-btn:hover{

    background:#2F5D39;

    color:#fff;

    border-color:#2F5D39;

}

/*=========================================
        TABLE
=========================================*/

.orders-table{

    margin:0 35px 40px;

    background:#ffffff;

    border-radius:28px;

    overflow:hidden;

    border:1px solid #E8E2D9;

    box-shadow:0 8px 25px rgba(0,0,0,.05);

}

/*=========================================
        TABLE HEADER
=========================================*/

.table-head{

    display:grid;

    grid-template-columns:

    1.2fr
    1.4fr
    .8fr
    1fr
    1.2fr
    .9fr;

    background:#F7F1E7;

    padding:20px 25px;

    font-size:14px;

    font-weight:600;

}

/*=========================================
        ROWS
=========================================*/

.order-row{

    display:grid;

    grid-template-columns:

    1.2fr
    1.4fr
    .8fr
    1fr
    1.2fr
    .9fr;

    align-items:center;

    padding:18px 25px;

    border-top:1px solid #EFE8DE;

    transition:.30s;

}

.order-row:hover{

    background:#FCFAF6;

}

/*=========================================
        PRICE
=========================================*/

.price{

    font-weight:700;

    color:#1e1e1e;

}

/*=========================================
        DATE
=========================================*/

.date{

    color:#666;

}

/*=========================================
        STATUS
=========================================*/

.status{

    display:inline-block;

    padding:7px 15px;

    border-radius:20px;

    font-size:12px;

    font-weight:500;

}

/* Packed */

.packed{

    background:#EDF3EC;

    color:#496B46;

}

/* Shipped */

.shipped{

    background:#EEF4EE;

    color:#53754F;

}

/* Delivered */

.delivered{

    background:#EDF4ED;

    color:#3C7444;

}

/* Pending */

.pending{

    background:#FFF5DE;

    color:#B78416;

}

/*=========================================
        RESPONSIVE
=========================================*/

@media(max-width:1100px){

.orders-table{

overflow-x:auto;

}

.table-head,
.order-row{

min-width:900px;

}

}

@media(max-width:768px){

.page-header{

flex-direction:column;

align-items:flex-start;

gap:18px;

}

.report-btn{

width:100%;

justify-content:center;

}

}